@use '../vendors/bootstrap';

.text-input {
  &:active,
  &:focus,
  &:focus:active {
    // border: 15px solid #ced4da !important;
    // border: none !important;
    border-right: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.checkbox {
  border: none;

  background-color: bootstrap.$gray-800;
  width: 1.5em;
  height: 1.5em;
  &:active,
  &:focus,
  &:focus:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}
